<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Azure Artifacts feed for Audabit packages -->
    <add key="Audabit" value="https://pkgs.dev.azure.com/johnnyschaap/Audabit/_packaging/Audabit/nuget/v3/index.json" />
    <!-- NuGet.org for public packages -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>